<% content_for(:title, "Stack Overflow | Home") %>

<h1>Stack Overflow</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.title, question_path(question) %> Votes: <%= question.number_of_votes %></li>
    <% if current_user %>
      <!-- <%= form_for question do |f| %>
        <%= f.submit "Up Vote", class: 'btn btn-success btn-xs' %>
      <% end %> -->
      <%= button_to "Up Vote", question_votes_path(question), class: 'btn btn-success btn-xs' %>
    <!-- <% end %> -->
  <% end %>
</ul>
