<% content_for(:title, "Stack Overflow | " + @user.email) %>

<h1><%= @user.email %></h1>

<% if current_user == @user %>
  <p><%= link_to "Add Question", new_user_question_path(current_user) %></p>
<% end %>
<% @user.questions.each do |question| %>
  <li><%= link_to question.title, question_path(question) %></li>
  <% if current_user == @user %>
    <%= link_to "Edit", edit_question_path(question), class: 'btn btn-primary btn-xs' %>
    <%= link_to "Delete", question_path(question), class: 'btn btn-danger btn-xs',
                           data: {confirm: "You sure you want to delete?",
                                  method: "delete"} %>
  <% end %>
  <% if question.responses.any? %>
    <h4>Here are the responses for this question:</h4>

    <ul>
      <% question.responses.each do |response| %>
        <li>
          <hr>
          <%= response.date %> <br>
          <%= response.response %>
          <% if current_user == @user %>
            <%= link_to "Edit", edit_question_response_path(question, response), class: 'btn btn-primary btn-xs' %>
            <%= link_to "Delete", question_response_path(question, response), class: 'btn btn-danger btn-xs',
                                    data: {confirm: "Are you sure you want to delete?",
                                            method: "delete"} %>
          <% end %>
          <hr>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no responses yet!</p>
  <% end %>
<% end %>
